.card.full-card {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
  border-radius: 0;
  width: calc(100vw) !important;
  height: 100vh !important;
}



.eastBg {
  background: #007bff !important;
}

.northBg {
  background: #28a745;

  // background: #ff5733;
}
.south1Bg {
  background: #ffc107;

}
.south2Bg {
  background: #dc3545;

}
.westBg {
  background: #ff5733;

  // background: #dc3545;
}