<div class="row">
  <!-- order-card start -->
  <div class="col-md-6 col-xl-3" *ngFor="let card of cards">
    <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
      <h6 class="text-white">{{ card.title }}</h6>
      <h2 class="text-end text-white"
        ><i class="feather {{ card.icon }} float-start"></i><span>{{ card.number }}</span>
      </h2>
      <p class="m-b-0"
        >{{ card.text }}<span class="float-end">{{ card.no }}</span></p
      >
    </app-card>
  </div>
  <!-- order-card end -->

  <div class="container my-4">
    <div class="row justify-content-center text-center">
      <!-- Region -->
      <div class="form-group col-md-2">
        <label for="regionSelect" class="form-label">Region</label>
        <select id="regionSelect" class="form-select custom-select">
          <option value="Fastrack">Fastrack</option>
          <option value="Clock">Clock</option>
        </select>
      </div>
  
      <!-- ABM Name -->
      <div class="form-group col-md-2">
        <label for="abmSelect" class="form-label">ABM Name</label>
        <select id="abmSelect" class="form-select custom-select">
          <option value="Fastrack">Fastrack</option>
          <option value="Clock">Clock</option>
        </select>
      </div>
  
      <!-- Retailer Type -->
      <div class="form-group col-md-2">
        <label for="retailerTypeSelect" class="form-label">Retailer Type</label>
        <select id="retailerTypeSelect" class="form-select custom-select">
          <option value="Fastrack">Fastrack</option>
          <option value="Clock">Clock</option>
        </select>
      </div>
  
      <!-- RS Name -->
      <div class="form-group col-md-2">
        <label for="rsNameSelect" class="form-label">RS Name</label>
        <select id="rsNameSelect" class="form-select custom-select">
          <option value="Fastrack">Fastrack</option>
          <option value="Clock">Clock</option>
        </select>
      </div>
  
      <!-- Brand -->
      <div class="form-group col-md-2">
        <label for="brandSelect" class="form-label">Brand</label>
        <select id="brandSelect" class="form-select custom-select">
          <option value="Fastrack">Fastrack</option>
          <option value="Clock">Clock</option>
        </select>
      </div>
  
      <!-- Search Button -->
      <div class="form-group col-md-2 d-flex align-items-end">
        <button class="btn btn-primary w-100" style="font-weight: bold;">Search</button>
      </div>
    </div>
  </div>
  
  <!-- account-section start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="" [options]="false">
      
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
      ></apx-chart>
    </div>
    
    </app-card>
  </div>

  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="" [options]="false">
    <div id="chart">
      <!-- <apx-chart
        [series]="chartOptionsline.series"
        [chart]="chartOptionsline.chart"
        [dataLabels]="chartOptionsline.dataLabels"
        [plotOptions]="chartOptionsline.plotOptions"
        [yaxis]="chartOptionsline.yaxis"
        [legend]="chartOptionsline.legend"
        [fill]="chartOptionsline.fill"
        [stroke]="chartOptionsline.stroke"
        [tooltip]="chartOptionsline.tooltip"
        [xaxis]="chartOptionsline.xaxis"
      ></apx-chart> -->
      <apx-chart
      [series]="chartOptionsline?.series"
      [chart]="chartOptionsline?.chart"
      [dataLabels]="chartOptionsline?.dataLabels"
      [plotOptions]="chartOptionsline?.plotOptions"
      [yaxis]="chartOptionsline?.yaxis"
      [legend]="chartOptionsline?.legend"
      [fill]="chartOptionsline?.fill"
      [stroke]="chartOptionsline?.stroke"
      [tooltip]="chartOptionsline?.tooltip"
      [xaxis]="chartOptionsline?.xaxis"
    ></apx-chart>
    </div>
    
    </app-card>
  </div>
  
</div>
