
<h4 *ngIf="dashboardService.selectedData === '2'" style="
text-align: center;
/* margin-top: 12px; */
">Total Ordering Overview Dashboard.</h4>
 <!-- order-card start -->
  <div *ngIf="dashboardService.selectedData === '1'" class="row"> 
 <div class="col-md-6 col-xl-2" *ngFor="let card of cards">
  <!-- <ng-container > -->
    <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
      <h4 class="text-white">{{ card.title }}<i class="feather {{ card.icon }} float-end"></i></h4>
      
      <p class="m-b-0"
        >Total order<span class="float-end">{{ card.number }}</span></p
      >
      <br>
      <p class="m-b-0"
        >Order Qty<span class="float-end">{{ card.no }}</span></p
      >
      <br>
      <p class="m-b-0"
      >Order Value<span class="float-end">{{ card.qtyValue }}</span></p
    >
    <br>
    <p class="m-b-0"
      >Dealers<span class="float-end">{{ card.dealercount }}</span></p
    >
    </app-card>
  <!-- </ng-container> -->
</div>

<div class="col-xl-12 col-md-12" *ngIf="dashBoardInitalDataOptions && false">
  <app-card cardTitle="" [options]="false">
    
  <div id="chart2">
    <apx-chart
      [series]="dashBoardInitalDataOptions.series"
      [chart]="dashBoardInitalDataOptions.chart"
      [dataLabels]="dashBoardInitalDataOptions.dataLabels"
      [plotOptions]="dashBoardInitalDataOptions.plotOptions"
      [yaxis]="dashBoardInitalDataOptions.yaxis"
      [legend]="dashBoardInitalDataOptions.legend"
      [fill]="dashBoardInitalDataOptions.fill"
      [stroke]="dashBoardInitalDataOptions.stroke"
      [tooltip]="dashBoardInitalDataOptions.tooltip"
      [xaxis]="dashBoardInitalDataOptions.xaxis"
      [title]="dashBoardInitalDataOptions.title">

    ></apx-chart>
  </div>
  </app-card>
</div>
</div>
<div class="row" *ngIf="dashboardService.selectedData === '2'">
 
  <div class="container my-4">
<!-- <ng-multiselect-dropdown
  [placeholder]="'Select one'"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onDeSelect)="onItemDeselect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelectAll)="onDeselectAll($event)">
</ng-multiselect-dropdown> -->
    <div class="row justify-content-center text-center">
      <!-- Region -->
      <div class="form-group col-md-3">
        <!-- <div class="row"> -->
          <!-- <div class="col-xl-2"> -->
            <label style="margin-top: 10px;
            float: left;
            font-weight: 800;" class="form-label">Region</label>
          <!-- </div> -->
          <!-- <div class="col-xl-10"> -->
            <div class="multiselect-dropdown" tabindex="0">
              <div (click)="toggleDropdownVisibility()" class="dropdown-btn" tabindex="-1" id="allowClickButton">
                <span  style="margin-left: 5px;" *ngIf="selectedRegions.length === 0">Select one</span>
                <i *ngIf="selectedRegions.length == 0" class="fas fa-chevron-down"></i>
                <!-- <span *ngIf="selectedRegions.length > 0"> -->
                  <div *ngIf="selectedRegions.length > 0" class="selected-items-container">

                  <ng-container *ngFor="let region of selectedRegions; let isLast = last">
                    <div class="selected-item">
                      {{ region.name }}
                      <span class="remove-icon" (click)="removeSelectedRegion(region, $event)">&#10005;</span>
                    </div>
                    <!-- <span *ngIf="!isLast">, </span> -->
                  </ng-container>
                <!-- </span> -->
                </div>
                <span class="dropdown-multiselect--active" style="float:right !important;padding-right:4px">
                  <span class="dropdown-multiselect__caret"></span>
                </span>
              </div>
              <div *ngIf="isDropdownOpen" class="dropdown-list" id="restrictclicks">
                <ul class="item1">
                  <li class="multiselect-item-checkbox">
                    <input type="checkbox" (change)="toggleAllRegionsSelection($event)" [checked]="areAllRegionsSelected" />
                    <div style="margin-left: 10px;">Select All</div>
                  </li>
                  <li class="filter-textbox">
                    <input type="text" placeholder="Search" [(ngModel)]="searchInputValue" (input)="filterAvailableRegions()" />
                  </li>
                </ul>
                <ul class="item2" style="max-height: 197px; overflow-y: auto;">
                  <li *ngFor="let region of filteredRegionsList" class="multiselect-item-checkbox">
                    <input type="checkbox" [checked]="selectedRegions.includes(region)" (change)="toggleRegionSelection(region)" />
                    <div style="margin-left: 10px;" [class.selected]="selectedRegions.includes(region)">{{ region.name }}</div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      
      <div class="form-group col-md-6">
        <!-- <div class="row"> -->
          <!-- <div class="col-xl-2"> -->
            <label style="margin-top: 10px;
                        float: left;
                        font-weight: 800;" class="form-label">ABM Name</label>
          <!-- </div> -->
          <!-- <div class="col-xl-10"> -->
            <div class="multiselect-dropdown" tabindex="0">
              <div (click)="toggleDropdownVisibilityForAbm()" class="dropdown-btn" tabindex="-1" id="allowClickButtonabm">
                <span style="margin-left: 5px;" *ngIf="selectedAbmNames.length === 0">Select one</span>
                <!-- <i *ngIf="isExpanded" class="fas fa-chevron-up"></i> -->
                <i *ngIf="selectedAbmNames.length == 0" class="fas fa-chevron-down"></i>
                <div *ngIf="selectedAbmNames.length > 0" class="selected-items-container">
                  <ng-container *ngFor="let abm of selectedAbmNames; let isLast = last">
                    <div class="selected-item">
                      {{ abm.name }}
                      <span class="remove-icon" (click)="removeSelectedAbm(abm, $event)">&#10005;</span>
                    </div>
                  </ng-container>
                </div>
                <span class="dropdown-multiselect--active" style="float:right !important;padding-right:4px">
                  <span class="dropdown-multiselect__caret"></span>
                </span>
              </div>
              <div *ngIf="isDropdownOpenForAbm" class="dropdown-list" id="restrictclicksabm">
                <ul class="item1">
                  <li class="multiselect-item-checkbox">
                    <input type="checkbox" (change)="toggleAllAbmSelection($event)" [checked]="areAllAbmSelected" />
                    <div style="margin-left: 10px;">Select All</div>
                  </li>
                  <li class="filter-textbox">
                    <input type="text" placeholder="Search" [(ngModel)]="searchInputValueForAbm" (input)="filterAvailableAbmNames()" />
                  </li>
                </ul>
                <ul class="item2" style="max-height: 197px; overflow-y: auto;">
                  <li *ngFor="let abm of filteredAbmNamesList" class="multiselect-item-checkbox">
                    <input type="checkbox" [checked]="selectedAbmNames.includes(abm)" (change)="toggleAbmSelection(abm)" />
                    <div style="margin-left: 10px;" [class.selected]="selectedAbmNames.includes(abm)">{{ abm.name }}</div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    
      <div class="form-group col-md-3">
        <!-- <div class="row"> -->
          <!-- <div class="col-xl-2"> -->
            <label style="margin-top: 10px;
            float: left;
            font-weight: 800;" class="form-label">Retailer Type</label>
          <!-- </div> -->
          <!-- <div class="col-xl-10"> -->
            <div class="multiselect-dropdown" tabindex="0">
              <div (click)="toggleDropdownVisibilityForRetailer()" class="dropdown-btn" tabindex="-1" id="retailerTypeallow">
                <span style="margin-left: 5px;" *ngIf="selectedRetailerTypes.length === 0">Select one</span>
                <i *ngIf="selectedRetailerTypes.length == 0" class="fas fa-chevron-down"></i>
                <!-- <span *ngIf="selectedRetailerTypes.length > 0"> -->
                  <div *ngIf="selectedRetailerTypes.length > 0" class="selected-items-container">

                  <ng-container *ngFor="let retailer of selectedRetailerTypes; let isLast = last">
                    <div class="selected-item">
                      {{ retailer.name }}
                      <span class="remove-icon" (click)="removeSelectedRetailer(retailer, $event)">&#10005;</span>
                    </div>
                    <!-- <span *ngIf="!isLast">, </span> -->
                  </ng-container>
                <!-- </span> -->
                </div>
                <span class="dropdown-multiselect--active" style="float:right !important;padding-right:4px">
                  <span class="dropdown-multiselect__caret"></span>
                </span>
              </div>
              <div *ngIf="isDropdownOpenForRetailer" class="dropdown-list" id="retailerTypeallowDropdown">
                <ul class="item1">
                  <li class="multiselect-item-checkbox">
                    <input type="checkbox" (change)="toggleAllRetailerSelection($event)" [checked]="areAllRetailerSelected" />
                    <div style="margin-left: 10px;">Select All</div>
                  </li>
                  <li class="filter-textbox">
                    <input type="text" placeholder="Search" [(ngModel)]="searchInputValueForRetailer" (input)="filterAvailableRetailerTypes()" />
                  </li>
                </ul>
                <ul class="item2" style="max-height: 197px; overflow-y: auto;">
                  <li *ngFor="let retailer of filteredRetailerTypesList" class="multiselect-item-checkbox">
                    <input type="checkbox" [checked]="selectedRetailerTypes.includes(retailer)" (change)="toggleRetailerSelection(retailer)" />
                    <div style="margin-left: 10px;" [class.selected]="selectedRetailerTypes.includes(retailer)">{{ retailer.name }}</div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      
      </div>
      <div class="row" >
      <div class="form-group col-md-4">
        <!-- <div class="row"> -->
          <!-- <div class="col-xl-2"> -->
            <label style="margin-top: 10px;
            float: left;
            font-weight: 800;" class="form-label">RS Name</label>
          <!-- </div> -->
          <!-- <div class="col-xl-10"> -->
            <div class="multiselect-dropdown" [class.posinherit]="!isDropdownOpenForRS" tabindex="0">
              <div (click)="toggleDropdownVisibilityForRS()" class="dropdown-btn" tabindex="-1" id="rsnamemenu">
                <span style="margin-left: 5px;" *ngIf="selectedRSNames.length === 0">Select one</span>
                <i *ngIf="selectedRSNames.length == 0" class="fas fa-chevron-down"></i>
                <!-- <span *ngIf="selectedRSNames.length > 0"> -->
                  <div *ngIf="selectedRSNames.length > 0" class="selected-items-container">
                  <ng-container *ngFor="let rs of selectedRSNames; let isLast = last">
                    <div class="selected-item">
                      {{ rs.name }}
                      <span class="remove-icon" (click)="removeSelectedRS(rs, $event)">&#10005;</span>
                    </div>
                    <!-- <span *ngIf="!isLast"></span> -->
                  </ng-container>
                <!-- </span> -->
                </div>
                <span class="dropdown-multiselect--active" style="float:right !important;padding-right:4px">
                  <span class="dropdown-multiselect__caret"></span>
                </span>
              </div>
              <div *ngIf="isDropdownOpenForRS" class="dropdown-list" id="rsnamemenu2">
                <ul class="item1">
                  <li class="multiselect-item-checkbox">
                    <input type="checkbox" (change)="toggleAllRSSelection($event)" [checked]="areAllRSSelected" />
                    <div style="margin-left: 10px;">Select All</div>
                  </li>
                  <li class="filter-textbox">
                    <input type="text" placeholder="Search" [(ngModel)]="searchInputValueForRS" (input)="filterAvailableRSNames()" />
                  </li>
                </ul>
                <ul class="item2" style="max-height: 197px; overflow-y: auto;">
                  <li *ngFor="let rs of filteredRSNamesList" class="multiselect-item-checkbox">
                    <input type="checkbox" [checked]="selectedRSNames.includes(rs)" (change)="toggleRSSelection(rs)" />
                    <div style="margin-left: 10px;" [class.selected]="selectedRSNames.includes(rs)">{{ rs.name }}</div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      
  
      <div class="form-group col-md-4">
        <!-- <div class="row"> -->
          <!-- <div class="col-xl-2"> -->
            <label style="margin-top: 10px;
            float: left;
            font-weight: 800;" class="form-label">Brand</label>
          <!-- </div> -->
          <!-- <div class="col-xl-10"> -->
            <div class="multiselect-dropdown" tabindex="0" [class.posinherit]="!isDropdownOpenForBrand">
              <div (click)="toggleDropdownVisibilityForBrand()" class="dropdown-btn" tabindex="-1" id="brandDropdown">
                <span style="margin-left: 5px;" *ngIf="selectedBrands.length === 0">Select one</span>
                <i *ngIf="selectedBrands.length == 0" class="fas fa-chevron-down"></i>
                <!-- <span *ngIf="selectedBrands.length > 0"> -->
                  <div *ngIf="selectedBrands.length > 0" class="selected-items-container">
                  <div class="selected-items-container">
                    <ng-container *ngFor="let brand of selectedBrands; let isLast = last">
                      <div class="selected-item">
                        {{ brand.name }}
                        <span class="remove-icon" (click)="removeSelectedBrand(brand, $event)">&#10005;</span>
                      </div>
                    </ng-container>
                  </div>
                <!-- </span> -->
                </div>
                
                <span class="dropdown-multiselect--active" style="float:right !important;padding-right:4px">
                  <span class="dropdown-multiselect__caret"></span>
                </span>
              </div>
              <div *ngIf="isDropdownOpenForBrand" class="dropdown-list" id="brandDropdownmenu">
                <ul class="item1">
                  <li class="multiselect-item-checkbox">
                    <input type="checkbox" (change)="toggleAllBrandSelection($event)" [checked]="areAllBrandsSelected" />
                    <div style="margin-left: 10px;">Select All</div>
                  </li>
                  <li class="filter-textbox">
                    <input type="text" placeholder="Search" [(ngModel)]="searchInputValueForBrand" (input)="filterAvailableBrands()" />
                  </li>
                </ul>
                <ul class="item2" style="max-height: 197px; overflow-y: auto;">
                  <li *ngFor="let brand of filteredBrandsList" class="multiselect-item-checkbox">
                    <input type="checkbox" [checked]="selectedBrands.includes(brand)" (change)="toggleBrandSelection(brand)" />
                    <div style="margin-left: 10px;" [class.selected]="selectedBrands.includes(brand)">{{ brand.name }}</div>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      
  
      <!-- Search Button -->
      <div class="form-group col-md-4 d-flex align-items-end row">
        <div class="col-md-6">
          <button class="btn btn-primary w-100 fw-bold" (click)="prepareSearchData('search')">Search</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-secondary w-100 fw-bold" (click)="prepareSearchData('reset')">Reset</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-xl-12 col-md-12" *ngIf="chartOptionsline">
    <app-card cardTitle="" [options]="false">
    <div id="chart">
      <apx-chart
      [series]="chartOptionsline.series"
      [chart]="chartOptionsline.chart"
      [dataLabels]="chartOptionsline.dataLabels"
      [plotOptions]="chartOptionsline.plotOptions"
      [yaxis]="chartOptionsline.yaxis"
      [legend]="chartOptionsline.legend"
      [fill]="chartOptionsline.fill"
      [stroke]="chartOptionsline.stroke"
      [tooltip]="chartOptionsline.tooltip"
      [xaxis]="chartOptionsline.xaxis"
      [title]="chartOptionsline.title"
      [subtitle]="chartOptionsline.subtitle">
    ></apx-chart>
    </div>
    
    </app-card>
  </div>

  <div class="col-xl-12 col-md-12" *ngIf="chartOptions">
    <app-card cardTitle="" [options]="false">
      
    <div id="chart2">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title">

      ></apx-chart>
    </div>
    </app-card>
  </div>

  <div class="col-xl-12 col-md-12" *ngIf="chartOptionsRegionwise && false">
    <app-card cardTitle="" [options]="false">
      
    <div id="chart2">
      <apx-chart
        [series]="chartOptionsRegionwise.series"
        [chart]="chartOptionsRegionwise.chart"
        [dataLabels]="chartOptionsRegionwise.dataLabels"
        [plotOptions]="chartOptionsRegionwise.plotOptions"
        [yaxis]="chartOptionsRegionwise.yaxis"
        [legend]="chartOptionsRegionwise.legend"
        [fill]="chartOptionsRegionwise.fill"
        [stroke]="chartOptionsRegionwise.stroke"
        [tooltip]="chartOptionsRegionwise.tooltip"
        [xaxis]="chartOptionsRegionwise.xaxis"
        [title]="chartOptionsRegionwise.title">

      ></apx-chart>
    </div>
    </app-card>
  </div>

  <div class="col-xl-12 col-md-12" *ngIf="chartOptionsRegionwiseGrowth && false">
    <app-card cardTitle="" [options]="false">
      
    <div id="chart2">
      <apx-chart
        [series]="chartOptionsRegionwiseGrowth.series"
        [chart]="chartOptionsRegionwiseGrowth.chart"
        [dataLabels]="chartOptionsRegionwiseGrowth.dataLabels"
        [plotOptions]="chartOptionsRegionwiseGrowth.plotOptions"
        [yaxis]="chartOptionsRegionwiseGrowth.yaxis"
        [legend]="chartOptionsRegionwiseGrowth.legend"
        [fill]="chartOptionsRegionwiseGrowth.fill"
        [stroke]="chartOptionsRegionwiseGrowth.stroke"
        [tooltip]="chartOptionsRegionwiseGrowth.tooltip"
        [xaxis]="chartOptionsRegionwiseGrowth.xaxis"
        [title]="chartOptionsRegionwiseGrowth.title">

      ></apx-chart>
    </div>
    </app-card>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#007bff"
  type="ball-spin-clockwise"> <!-- Ensure this type is specified -->
</ngx-spinner>

<!-- <div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
</div> -->
<!-- 
<div id="chart">
  <apx-chart
    [series]="regionWiseGrowthOptions.series"
    [chart]="regionWiseGrowthOptions.chart"
    [stroke]="regionWiseGrowthOptions.stroke"
    [dataLabels]="regionWiseGrowthOptions.dataLabels"
    [plotOptions]="regionWiseGrowthOptions.plotOptions"
    [xaxis]="regionWiseGrowthOptions.xaxis"
    [colors]="regionWiseGrowthOptions.colors"
    [fill]="regionWiseGrowthOptions.fill"
    [yaxis]="regionWiseGrowthOptions.yaxis"
    [legend]="regionWiseGrowthOptions.legend"
  ></apx-chart>
</div> -->